/*css样式初始化*/
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,input,button,textarea,p,td { margin:0; padding:0; }
html{ font-size: 625%;}
body { max-width: 640px; min-width: 320px; margin: 0 auto; font-size:0.24rem; font-family:"微软雅黑"; width: auto;}
a { color:#555; text-decoration:none; }
img { border:none; vertical-align: baseline; }
li { list-style:none; }
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }










.zmn_body{background-color: #f3aaca;color:#ffffff;}
.z_bg{background: url("../images/list_page_bg.jpg") no-repeat;padding-top:4.2rem;background-size: 6.4rem 11.44rem;}
#z_search{height:0.33rem;width:5.64rem;margin:0.14rem auto 0.14rem;}
.z_search_text{float:left;color:#ff4085;line-height: 0.33rem;font-size:0.18rem;}
.z_search_input{float: right;width:3.05rem;height:0.33rem;background: url("../images/input_bg.png");background-size: 3.05rem 0.33rem;}
.z_input_submit{float:left;width:0.49rem;border:0 none;height:0.33rem;cursor: pointer;background: url("../images/input_sub.png");background-size: 0.49rem 0.33rem;text-indent: -99em;overflow: hidden;}
.z_input_text{float:right;width:2.56rem;height:0.33rem;border:0 none;color:#b7b7b7;font-size:0.14rem;background: none;background-size: 2.56rem 0.33rem;}
.z_search_input input:focus{outline: none;}
.z_list_a{display:block;width:5.06rem;margin:0 auto ;color:#ffffff;border-bottom: 1px dashed #ffffff;padding:0.22rem 0.31rem 0 0.69rem;}
.z_list_text{position:relative;float: left;width:auto;padding-top:0.57rem;}
.z_list_text h3{position:absolute;top:0.24rem;left:0;height:0.31rem;line-height: 0.31rem;font-size: 0.22rem;padding-bottom: 0.02rem;font-weight: 400;}
.z_list_text h3 span{background:url("../images/love.png") no-repeat top left ;background-size: 0.59rem 0.31rem;padding-left:0.59rem;}
.z_list_text p{height:0.41rem;line-height: 0.41rem;font-size: 0.20rem;border-bottom:1px dashed #ffffff;width:auto;}
.z_list_text_span{display:block;width:2.16rem;line-height: 0.31rem;font-size: 0.16rem;font-weight: bold;}
.z_list_img{float: right;width:1.54rem;height:1.54rem;padding-bottom: 0.27rem;}
.z_list_img img{width:100%;}
.z_ul{padding-bottom: 0.42rem;}










































































































































































/*幸福墙详细页样式,用Jqx（名字）代表这个页面*/
#jqxBody{
	background: #fff;
	font-size: 0.293rem;
	color: #b9b9b9;
	border-top:#6f7075 0.04rem solid;
	font-family: "黑体";
	max-width: none;
}
/*顶部*/
#jqxHeader{
	border-top:#65666b 0.01rem solid;
}
.jqxName{
	background: url(../images/jHeaderDays.jpg) no-repeat bottom;
	background-size: 1.07rem 1.23rem;
	border-top:#e2e3e5 0.01rem solid;
	height: 1.23rem;
	padding: 0.42rem 0 0 0;
	position: relative;
	z-index: 11;
}
.proDay{
 	position: relative;
 	margin: 0 auto;
	height: 1.23rem;
	width: 1.07rem;
	text-align: center;
}
.proDay1{
	line-height: 1.21rem;
	color: #fff;
}
.jqxNameL,.jqxNameR{
	position: absolute;
	color: #6f7075;
	white-space:nowrap;
}
.jqxNameL{
	top: 0.3rem;
	right: 1.19rem;
}
.jqxNameR{
	top: 0.3rem;
	left: 1.19rem;
}
.jqxTime{
	margin-top: -0.23rem;
	padding: 0.31rem 0 0.11rem 0;
	border-top: #ff4f7d 1px solid;
	background: #ff668e;
	color: #fff;
	text-align: center;
	position: relative;
	z-index: 1;
}
.timeToNow{
	font-size: 0.64rem;
	height: 0.48rem;
	line-height: 0.48rem;
}
.timeStart{
	height: 0.4rem;
	line-height: 0.4rem;
}
/*中间内容*/
#main{

}
.mainCard{
	background: url(../images/proCard.jpg) top no-repeat;
	background-size: 2.53rem 0.79rem;
	width: 2.53rem;
	height: 0.79rem;
	text-indent: -99em;
	overflow: hidden;
	margin: 0.4rem auto 0;
}
.mainText{
	padding: 0.58rem 0.62rem 0.38rem;
	line-height: 0.46rem;
	border-bottom: #f0e4e6 1px solid;
}
.mainText span{
	font-weight: bold;
}
.textTop{ 
	height: 0.46rem;
}
.mainText p{
	margin-top: 0.05rem;
	text-indent: 0.56rem;
}
.textBottom{
	text-align: right;
}
/*图片秀*/
#show{
	position: relative;
	padding: 0.66rem 0 0.14rem;
	border-top:#dbcfcf 1px solid; 
	border-bottom: #ffaeb8 1px solid;
}
.showExa{
	margin: 0 auto;
	width: 5.43rem;
}
.showPhoto{
	margin-top: 0.06rem;
	padding: 0.06rem;
	border: #d2d2d2 0.02rem solid;
}
.aSentence{
	height: 0.4rem;
	line-height: 0.4rem;
	font-size: 0.253rem;
	text-align: center;
}
.showPhoto img{
	height: 7.02rem;
}
.taShuo{
	position: absolute;
	top: -0.19rem;
	left: 45%;
}
.taShuo img{
	width: 0.78rem;
	height: 0.76rem;
}
.colorline{
	background: #ff6a7b;
	height: 0.02rem;
	border-top: #ff4d63 1px solid;
	border-bottom: #ff4d63 1px solid;
}
#other{
	border-top: #ffaeb8 1px solid;	
}
.otherTop{
	padding: 0.25rem 0.29rem 0.29rem 0.47rem;
	border-bottom: #ffe7eb 0.03rem solid;
}
.agree{
	float: left;
	background: url(../images/heart.png) no-repeat 0 0;
	background-size: 0.49rem 0.96rem;
	padding-left: 0.49rem;
	height: 0.48rem;
	line-height: 0.48rem;
	width: 1.5rem;
	color: #ff3c55;
}
.agree span{
	float: left;
	margin-left: 0.06rem;
}
.agree div{
	float: right;
	border: #ff475e 0.03rem solid;
	border-radius: 0.08rem;
	height: 0.42rem;
	line-height: 0.42rem;
	width: 1.08rem;
	text-align: center;
}
.saySth{
	float: right;
	border: #ff475e 0.03rem solid;
	border-radius: 0.08rem;
	height: 0.42rem;
	line-height: 0.42rem;
	width: 1.45rem;
	color: #ff3c55;
	text-align: center;
}
.otherMiddle{
	background: #ff6376;
	margin: 0.14rem 0.26rem 0.35rem 0.24rem;
	border-radius: 0.08rem;
	height: 0.67rem;
}
.midIn{
	border-radius: 0.08rem;
	border: #ff1b3d 1px solid;
	border-right: #ff5368 1px solid;
	height: 0.64rem;
	width: 81.2%;
	font-size: 0.29rem;
}
.midSub{
	margin-left: -0.15rem;
	background: none;
	border: 0 none;
	color: #fff;
	font-size: 0.29rem;
	font-family: "黑体";
	height: 0.65rem;
	line-height: 0.65rem;
	width: 16.9%;
	text-align: center;
}
#footer{
	background: url(../images/footerBg.png) no-repeat #ff668e;
	background-position: 50% 0.23rem;
	background-size: 2.65rem 0.79rem;
	padding: 1.15rem 0.18rem 0.28rem 0.4rem; 
}
.footerA{
	border-top: #fff 0.03rem dashed;
	padding: 0.17rem 0.52rem 0 0.29rem;
	height: 0.41rem;
}
.footerShare,.footerFoucs{
	border: #fff 0.03rem solid;
	border-radius: 0.12rem;
	font-size: 0.19rem;
	height: 0.35rem;
	line-height: 0.35rem;
	text-align: center;
	color: #fff;
	text-decoration: none;
}
.footerShare{
	float: left;
	width: 2.19rem;
}
.footerFoucs{
	float: right;
	width: 1.72rem;
}











































































































































































































































































































































































































































































